/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.Bolded{
    font-weight: bold;
    font-size: 20px;
    color: red;
    vertical-align: middle;
}

.Flag{
    border: 1px solid black;
}
